.completedTodo {
  width: 390px;
  padding: 10px;
  background-color: #22222235;
  margin: 10px;
  border: 1px solid #2897e6;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.completedTodo .btns button {
  border: none;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  padding: 3px 10px;
 
}
.completedTodo .btns button:first-child {
  color: rgba(0, 128, 0, 0.2);
}
.completedTodo .btns button:nth-child(2) {
  color: rgba(255, 0, 0, 0.2);
}
.completedTodo .btns button:last-child {
  color: rgba(0, 0, 255, 0.2);
}

.desc{
  text-align: center;
}
.uncompletedTodo {
  width: 390px;
  padding: 10px;
  background-color: rgba(236, 236, 236, 0.81);
  margin: 10px;
  border: 1px solid #2897e6;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0);
  font-size: 18px;
}

.uncompletedTodo .btns button {
  border: none;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  padding: 3px 10px;
 
}
.uncompletedTodo .btns button:first-child {
  color: rgba(0, 128, 0);
}
.uncompletedTodo .btns button:nth-child(2) {
  color:rgb(255, 0, 0);
}
.uncompletedTodo .btns button:last-child {
  color: rgba(0, 0, 255);
}